body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container, .containerForGroup {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: green;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

tr.anomalys {
    background-color: darkred;
    color: #fff;
}

tr.ok {
    background-color: green;
    color: #fff;
}

tr.uno {
    background-color: indianred;
    color: #fff;
}

tr.due {
    background-color: indigo;
    color: #fff;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

button.stop {
    background-color: #e22d2d;
    color: #faf7f7;
}

a:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
