
override: ""

logging_level: info
container_manager_port: 7777
kafka_topic_update_interval_secs: 30

wandb:
  online: true
  project_name: OPEN_FAIR
  run_name: My_awesomre_FAIR_run
  kafka_broker_url: kafka:9092
  kafka_consumer_group_id: WANDBER
  kafka_auto_offset_reset: earliest

federated_learning:
  aggregation_strategy: fedavg    # fedavg, fedyogi
  initialization_strategy: xavier   # xavier, he, normal
  aggregation_interval_secs: 30     
  weights_buffer_size: 5
  
security_manager:
  buffer_size: 5000
  batch_size: 32
  learning_rate: 0.001
  epoch_size: 20
  save_model_freq_epochs: 5
  model_saving_path: sm_model.pth
  training_freq_seconds: 0.5
  initialization_strategy: xavier   # xavier, he, normal
  input_dim: 5
  hidden_dim: 30
  output_dim: 1
  num_layers: 2
  dropout: 0.5
  optimizer: Adam

  
default_vehicle_config:
  kafka_broker: kafka:9092
  mu_anomalies: 157
  mu_normal: 117
  alpha: 0.2
  beta: 1.9
  anomaly_classes: all
  diagnostics_classes: all
  time_emulation: True

# We have 19 (from 0 to 18) anomaly clusters and 15 diagnostics clusters (from 0 to 40)
# Each vehicle can have different anomaly and diagnostics that prioritises when generating data.
# IF not "all" then, the explicit anomaly_classes and diagnostics_classes overwritten for each vehicle
# will be generated at 80%, while the rest will divide the remaining 20%.
# These percentages will normalise or contidion the prior probabilies of each class in the original dataset, which are the following:
  # For anomalies:
  # cluster  probability
  # 0      0.464989   ***
  # 1      0.019147   *
  # 2      0.037746   *
  # 3      0.028993   *
  # 4      0.274617   **
  # 5      0.028993   *
  # 6      0.021882   *
  # 7      0.025711   *
  # 8      0.005470
  # 9      0.008753
  # 10     0.003282
  # 11     0.004376
  # 12     0.006565
  # 13     0.018600
  # 14     0.008206
  # 15     0.012035   *
  # 16     0.006565
  # 17     0.007112
  # 18     0.016958   *

  # For diagnostics:
  # cluster  probability
  # cluster  probability
  # 0      0.176524  ***
  # 1      0.055505 *
  # 2      0.014104 *
  # 3      0.015014 *
  # 4      0.006824
  # 5      0.179254 ***
  # 6      0.047771
  # 7      0.156051 ***
  # 8      0.120564 ***
  # 9      0.148317 ***
  # 10     0.011829 *
  # 11     0.014104 *
  # 12     0.014559 *
  # 13     0.037307 *
  # 14     0.002275
vehicles:
  - angela:
      anomaly_classes: 
        - 0
        - 4
        - 1
        - 5
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 16
        - 17
      diagnostics_classes:
        - 0
        - 5
        - 7
        - 1
        - 2
        - 4
        - 6
        - 14
  - bob:
      anomaly_classes:
        - 0 
        - 4
        - 2
        - 6
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 16
        - 17
      diagnostics_classes:
        - 0
        - 5
        - 8
        - 3
        - 10
        - 4
        - 6
        - 14
  - claude:
      anomaly_classes:
        - 0
        - 15
        - 18
        - 3
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 16
        - 17
      diagnostics_classes:
        - 0
        - 5
        - 9
        - 11
        - 12
        - 13
        - 4
        - 6
        - 14
  - daniel
  - emily
  - frank

default_consumer_config:
  buffer_size: 5000
  batch_size: 32
  kafka_broker: kafka:9092
  kafka_auto_offset_reset: earliest
  anomaly_classes: all
  diagnostics_classes: all
  weights_push_freq_seconds: 180
  weights_pull_freq_seconds: 180
  learning_rate: 0.001
  training_freq_seconds: 0.5
  epoch_size: 20
  save_model_freq_epochs: 5

dashboard:
  port: 5000
  host: 0.0.0.0
  kafka_broker_url: localhost:19092
  kafka_consumer_group_id: kafka-consumer-group-1
  kafka_auto_offset_reset: earliest
  message_cache_len: 20