<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>DataVisualizationOfTrainSensors</title>
</head>
<body>
    <div class="container">
        <h1>TRAINS SENSORS DATA VISUALIZATION</h1>
    </div>
    <div class="containerForGroup">
        <nav>
            <a href="/my-all-data">ALL DATA</a><br>
            <a href="/my-all-data-by-type">SENSORS DATA DY TYPE</a><br>
            <a href="/real-all-data">REAL ALL DATA</a><br>
        </nav>
    </div>
</body>
</html>