<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TRAINS SENSORS DATA VISUALIZATION</title>
</head>
<body>
    <div class="container">
        <h1>TRAINS SENSORS DATA VISUALIZATION</h1>
    </div>
    <div class="containerForGroup">
        <nav>
            <a href="/datavisualization">ALL DATA</a><br>
            <a href="/by-idAndGroup">ORDINA SENSORI PER GRUPPO</a><br>
            <a href="/by-idAndStatus">ORDINA SENSORI PER ID e STATO</a><br>
            <a href="/by-GroupAndStatus">ORDINA SENSORI PER ID, GRUPPO e STATO</a><br>
        </nav>
    </div>
</body>
</html>