<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // Function to refresh web page every 10 secondi
        setTimeout(function() {
            window.location.reload();
        }, 3000); // 10000 millisecondi = 10 secondi
    </script>
    <title>AllRealDataVisualizationOfTrainSensors</title>
</head>
<body>
    <div class="containerForGroup">
        <h2>Real Data Visualization Of Train Sensors</h2>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    {% if messages and messages[0] %}
                        {% for key in messages[0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr class="{{ 'anomalys' if message['TIPO_EVENTO_CLASSIFICATO'] == '0' else 'ok' if message['TIPO_EVENTO_CLASSIFICATO'] == '1' else '' }}">
                        {% for key, value in message.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="containerForGroup">
        <a href="/">HOME</a>
    </div>
</body>
</html>
