<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>DataVisualizationOfTrainSensors_byType</title>
</head>
<body>
    <div class="container">
        <h2>Data Visualization Of Train Sensors</h2>
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Train_ID</th>
                    <th>Sensor_ID</th>
                    <th>Sensor_Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message['timestamp'] }}</td>
                        <td>{{ message['train_id'] }}</td>
                        <td>{{ message['sensor_id'] }}</td>
                        <td>{{ message['sensor_type'] }}</td>
                        <td>{{ message['value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="containerForGroup">
        <a href="/">HOME</a>
    </div>
</body>
</html>
