<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
    
    <title>Open-FAIR Dashboard</title>
</head>
<body>
    <h1>Open-FAIR SereWay</h1>
    <div class="containerForGroup">
        <h2>Train Manager</h2>
        <nav>
            <button id="start-experiment">Start full experiment</button>
            <button id="shutdown" class="stop">Shutdown all</button>
            <button id="start-mitigation">Start mitigation</button>
            <button id="stop-mitigation" class="stop">Stop mitigation</button>
        </nav>
        <nav>
            <button id="create-vehicles">Create vehicles</button>
            <button id="delete-vehicles" class="stop">Delete vehicles</button>
        </nav>
        <nav>
            <button id="start-wandb">Start wandb</button>
            <button id="stop-wandb" class="stop">Stop wandb</button>
        </nav>
        <nav>
            <button id="produce-all">Start producers</button>
            <button id="stop-producing-all" class="stop">Stop all producers</button>
        </nav>
        <nav>
            <button id="consume-all">Start consumers</button>
            <button id="stop-consuming-all" class="stop">Stop all consumers</button>

        </nav>
        <nav>
            <button id="start-federated-learning">Start Federated Learning</button>
            <button id="stop-federated-learning" class="stop">Stop Federated Learning</button>
        </nav>
        <nav>
            <button id="start-security-manager">Start Security Manager</button>
            <button id="stop-security-manager" class="stop">Stop Security Manager</button>
        </nav>
        
        <!--nav>
            <a href="/real-all-data">Show latest messages</a><br>
            <a href="/real-anomalies-data">Show latets anomaly messages</a><br>
            <a href="/real-normal-data">Show latest diagnostics messages</a><br>
            <a href="/statistics">Show latest training statistics</a><br>
        </nav-->
    </div>
    <div class="containerForGroup">
        <h2>Bot Master</h2>
        <nav>
            <button id="start-automatic-attacks">Start Automatic Attacks</button>
            <button id="stop-automatic-attacks" class="stop">Stop Automatic Attacks</button>
        </nav>
        <nav>
            <button id="start-preconf-attack">Start Preconfigured Attack</button>
            <button id="stop-preconf-attack" class="stop">Stop Preconfigured Attack</button>
        </nav>
        {% for button in rendering_params.botmaster_buttons %}
            <nav>
                <button id="{{ button }}_start_attack">attack from {{ button }}</button>
                <button id="{{ button }}_end_attack" class="stop">stop attacking from {{ button }}</button>
            </nav>
        {% endfor %}
        
</body>
</html>