<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
    
    <title>Open-FAIR Dashboard</title>
</head>
<body>
    <h1>Open-FAIR SereWay</h1>
    <div class="containerForGroup">
        <h2>Train Manager</h2>
        <nav>
            <button id="create-vehicles">Create vehicles</button>
            <button id="delete-vehicles">Delete vehicles</button>
        </nav>
        <nav>
            <button id="start-wandb">Start wandb</button>
            <button id="stop-wandb">Stop wandb</button>
        </nav>
        <nav>
            <button id="produce-all">Start producers</button>
            <button id="consume-all">Start consumers</button>
            <button id="stop-producing-all">Stop all producers</button>
            <button id="stop-consuming-all">Stop all consumers</button>
        </nav>
        <nav>
            <button id="start-federated-learning">Start Federated Learning</button>
            <button id="stop-federated-learning">Stop Federated Learning</button>
        </nav>
        <nav>
            <button id="start-security-manager">Start Security Manager</button>
            <button id="stop-security-manager">Stop Security Manager</button>
        </nav>
        <!--nav>
            <a href="/real-all-data">Show latest messages</a><br>
            <a href="/real-anomalies-data">Show latets anomaly messages</a><br>
            <a href="/real-normal-data">Show latest diagnostics messages</a><br>
            <a href="/statistics">Show latest training statistics</a><br>
        </nav-->
    </div>
    <div class="containerForGroup">
        <h2>Bot Master</h2>
        {% for button in rendering_params.botmaster_buttons %}
            <nav>
                <button id="{{ button }}_start_attack" class="attack">attack from {{ button }}</button>
                <button id="{{ button }}_end_attack"  >stop attacking from {{ button }}</button>
            </nav>
        {% endfor %}
        
</body>
</html>